<!-- Generated template for the WorkerMainPageComponent component -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Worker
    </ion-title>    
  </ion-navbar>
</ion-header>
<ion-content>
<div>
  <ion-list>
    <ion-item>
      <button ion-button round full (click)="navToCalendar($event)">
        יומן
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        אילוצים
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        בקשת החלפה
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        בקשות שהוצעו לי
      </button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
