<!-- Generated template for the ManagerMainPageComponent component -->
<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Manager
    </ion-title>    
  </ion-navbar>
</ion-header>
<ion-content>
<div>
  <ion-list>
    <ion-item>
      <button ion-button round full (click)="navToCalendar($event)">
        לוח שנה
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        הגדר משמרות
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        בקשות החלפה
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        ניהול עובדים
      </button>
      <button ion-button round full (click)="navToCalendar($event)">
        בקשות אילוצים
      </button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
