calendar {

}

.scroll-horiz {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.box {
    width: 4000px;
    height: 100%;
}

#calHead{
    height:10%;
}
#calBody{
    height:85%;
}
.headerDay{
    width: 100px;
    display: inline-block;
    background-color: red;
    margin-right: 2px;
}
